body{
    background-color: aquamarine;
    justify-content: center;
    align-items: center;
}
h1{
    color: blue;
    text-align: center;
}
.container
{   
    display: grid;
    grid-template-columns: auto auto auto;
    width: 320px;
    height: 320px;
    margin: auto;

}

.box
{ 
    
    width: 100px;
    height: 100px;
    border: 2px solid black;
    border-radius: 20px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
    background-color: cornsilk ;
}
.reset{
    align-items: center;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 10px;
    border: none;
    background-color: lightcoral;
    color: white;
    display: block;
    margin: 20px auto;
    
}
.firstdiv
{
    font-size: 80px;
    text-align: center;
    background-color:  darkkhaki;
}
.newBtn
{
    align-items: center;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 10px;
    border: none;
    background-color: lightcoral;
    color: white;
    display: block;
    margin: 20px auto;
    

}
.hide
{
    display: none;
}